<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">

  <!-- Titulo -->
  <title>Suporte</title>
  <meta property="og:title" content="Suporte">
  <meta name="twitter:title" content="Suporte">
  <meta name="discord:title" content="Suporte">

  <!-- Description -->
  <meta name="description" content="Nessa tela você encontra ajuda. Chame a gente no chat.">
  <meta itemprop="description" content="Nessa tela você encontra ajuda. Chame a gente no chat.">
  <meta property="og:description" content="Nessa tela você encontra ajuda. Chame a gente no chat.">
  <meta name="twitter:description" content="Nessa tela você encontra ajuda. Chame a gente no chat.">
  <meta name="discord:description" content="Nessa tela você encontra ajuda. Chame a gente no chat.">

  {{> metatags}}
  {{> favicons}}

</head>
<body>

  <!-- NAV -->
  <nav>
    <div class="linha"></div>
    <div name="para_painel" class="logo">
      <img src="https://static.redireci.one/assets/app/logo-redirecione-suporte.svg">
    </div>
    {{> menu}}
  </nav>

  <!-- MAIN -->
  <main>
    <!-- SECTION -->
    <section class="suporte" name="suporte">
      <div class="botoes">
        <button type="button" name="chat" class="primario">Falar no Chat<div></div></button>
      </div>
      <div class="duvidas">
        <!-- Duvida -->
        <h2 class="titulo">Qual é o horário de atendimento?</h2>
        <p class="descricao">Estamos online todos os dias para ajudar você no que for preciso! Clique no botão acima para falar com o time Redirecione.</p>
        <!-- Duvida -->
        <h2 class="titulo">Qual URL usar na minha bio?</h2>
        <p class="descricao">Você pode consultar sua URL Redirecione na página inicial, onde estão todas as suas telas. É essa URL que você deve usar nas suas redes sociais ou compartilhar com outras pessoas.</p>
        <!-- Duvida -->
        <h2 class="titulo">Como o pagamento funciona?</h2>
        <p class="descricao">Os pagamentos são processados pela Stripe, a maior e mais segura plataforma de transações financeiras online do mundo. O valor é de R$19,90 e é descontado em seu cartão de crédito mensalmente.</p>
        <!-- Duvida -->
        <h2 class="titulo">Como cancelar minha assinatura?</h2>
        <p class="descricao">Para cancelar sua assinatura clique no botão "falar no chat" no topo da página e peça a um de nossos atendentes cancelar para você. O procedimento é bem rápido e você não receberá mais cobranças futuras.</p>
        <!-- Duvida -->
        <h2 class="titulo">Deseja sugerir modificações ao sistema?</h2>
        <p class="descricao">Conte para a gente o que você gostaria de ver aqui na Redirecione. Estamos disponíveis através do chat.</p>
      </div>
    </section>
  </main>

  <!-- JS -->
  <app-alerta></app-alerta>

  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-D4JTHYX759"></script>
  <script async src="https://static.redireci.one/js/ga.js"></script>

</body>
</html>
