<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">

  <!-- Titulo -->
  <title>Visualizar Tela</title>
  <meta property="og:title" content="Visualizar Tela">
  <meta name="twitter:title" content="Visualizar Tela">
  <meta name="discord:title" content="Visualizar Tela">

  <!-- Description -->
  <meta name="description" content="Personalize o ícone, a descrição, o botão e o fundo da sua tela.">
  <meta itemprop="description" content="Personalize o ícone, a descrição, o botão e o fundo da sua tela.">
  <meta property="og:description" content="Personalize o ícone, a descrição, o botão e o fundo da sua tela.">
  <meta name="twitter:description" content="Personalize o ícone, a descrição, o botão e o fundo da sua tela.">
  <meta name="discord:description" content="Personalize o ícone, a descrição, o botão e o fundo da sua tela.">

  {{> metatags}}
  {{> favicons}}

</head>
<body>

  <!-- NAV -->
  <nav>
    <div class="linha"></div>
    <div name="para_painel" class="logo">
      <img src="https://static.redireci.one/assets/app/logo-redirecione-links.svg">
    </div>
    {{> menu}}
  </nav>

  <!-- MAIN -->
  <main>
    <!-- Titulo -->
    <h2 class="titulo nome" name="nome_tela">&nbsp;</h2>
    <!-- OPCOES -->
    <app-opcoes>
      <!-- Voltar -->
      <button type="button" name="voltar" class="voltar">
        <img src="https://static.redireci.one/assets/global/seta-esquerda-cinza.svg">
        Voltar
      </button>
      <!-- Editar -->
      <button type="button" name="nome" class="nome">
        <img src="https://static.redireci.one/assets/app/lapis-azul.svg">
        Nome
      </button>
      <!-- Deletar -->
      <button type="button" name="deletar" class="deletar">
        <img src="https://static.redireci.one/assets/app/lixeira-vermelho.svg">
        Deletar
      </button>
    </app-opcoes>

    <!-- EDITAR -->
    <app-editar>
      <button type="button" name="editar_icone" class="editar_icone">
        <img src="https://static.redireci.one/assets/app/editar-link-icone.svg">
        <p>Editar</p>
        <h3>ICONE</h3>
      </button>
      <button type="button" name="editar_descricao" class="editard_descricao">
        <img src="https://static.redireci.one/assets/app/editar-link-descricao.svg">
        <p>Editar</p>
        <h3>DESCRICAO</h3>
      </button>
      <button type="button" name="editar_botao" class="editar_botao">
        <img src="https://static.redireci.one/assets/app/editar-link-botao.svg">
        <p>Editar</p>
        <h3>BOTÃO</h3>
      </button>
      <button type="button" name="editar_fundo" class="editar_fundo">
        <img src="https://static.redireci.one/assets/app/editar-link-fundo.svg">
        <p>Editar</p>
        <h3>FUNDO</h3>
      </button>
    </app-editar>

    <!-- PREVIEW -->
    <section class="preview" name="preview">
      <div class="itens">
        <div class="icone">
          <img name="icone">
        </div>
        <div class="descricao">
          <p name="descricao"></p>
        </div>
        <div class="botao">
          <button name="botao"></button>
        </div>
      </div>
    </section>
  </main>

  <!-- MODAL DELETAR -->
  <app-modal id="deletar_tela" name="deletar_tela">
    <div class="conteudo_modal">
      <h2 class="titulo">Deletar Tela</h2>
      <p class="descricao">Tem certeza que deseja excluir esse tela da sua página Redirecione?</p>
      <div class="botoes">
        <button type="button" name="voltar" class="secundario">Não<div></div></button>
        <button type="button" name="deletar" class="primario">Sim<div></div></button>
      </div>
    </div>
  </app-modal>

  <!-- MODAL NOME -->
  <app-modal id="editar_nome" name="editar_nome">
    <div class="conteudo_modal">
      <h2 class="titulo">Nome da Tela</h2>
      <p class="descricao">Digite um novo nome para a sua tela Redirecione.</p>
      <p class="input_falso" name="nome_atual">Nome atual da tela</p>
      <input type="text" spellcheck="false" name="nome" placeholder="Novo Nome">
      <div class="botoes">
        <button type="button" name="voltar" class="secundario">Cancelar<div></div></button>
        <button type="button" name="salvar" class="primario">Salvar<div></div></button>
      </div>
    </div>
  </app-modal>

<!-- MODAL ICONE -->
  <app-modal id="editar_icone" name="editar_icone">
    <!-- Editar Icone -->
    <section id="menu_icone" name="inicio" class="editar_icone ocultar">
      <div class="conteudo_modal">
        <h2 class="titulo">Editar Ícone</h2>
        <p class="descricao">Você quer usar um ícone pronto ou enviar do seu dispositivo?</p>
        <div class="botoes_opcoes">
          <div class="wrapper_opcoes">
            <button type="button" name="ver_modelos" class="primario">Escolher um ícone<div></div></button>
            <button type="button" name="ver_envio" class="primario">Enviar meu ícone<div></div></button>
          </div>
          <button type="button" name="cancelar" class="secundario">Cancelar<div></div></button>
        </div>
      </div>
    </section>
    <!-- Escolher Icone -->
    <section id="banco_icone" name="modelos" class="escolher_icone ocultar">
      <div class="conteudo_modal">
        <h2 class="titulo">Banco de Ícones</h2>
        <p class="descricao">Selecione um ícone da lista abaixo para personalizar sua tela.</p>
        <label class="label_pesquisa_icones">Selecione o ícone</label>
        <app-listar-icones></app-listar-icones>
        <div class="botoes">
          <button type="button" name="voltar" class="secundario">Voltar<div></div></button>
          <button type="button" name="salvar" class="primario">Salvar<div></div></button>
        </div>
      </div>
    </section>
    <!-- Enviar Icone -->
    <section id="enviar_icone" name="envio" class="enviar_icone ocultar">
      <div class="conteudo_modal">
        <h2 class="titulo">Enviar Ícone</h2>
        <p class="descricao">Envie um ícone do seu dispositivo para personalizar sua tela.</p>
        <label class="label_envio_icone">Envie o ícone</label>
        <app-enviar-imagem></app-enviar-imagem>
        <p class="especificacao_envio">Peso Max 20MB; Formato png, jpg ou jpeg; Resolução 300x300px</p>
        <label class="label_listar_icones_formatos">Selecione o formato</label>
        <app-listar-icones-formatos></app-listar-icones-formatos>
        <div class="botoes">
          <button type="button" name="voltar" class="secundario">Voltar<div></div></button>
          <button type="button" name="enviar" class="primario">Salvar<div></div></button>
        </div>
      </div>
    </section>
  </app-modal>

<!-- MODAL TEXTO -->
  <app-modal id="editar_texto" name="editar_texto">
    <div class="conteudo_modal">
      <h2 class="titulo">Editar Descrição</h2>
      <p class="descricao">Escreva o que desejar na descrição da tela. Em seguida selecione a fonte e a cor do texto.</p>
      <label class="label_texto">Digite a descrição</label>
      <textarea spellcheck="false" rows="8" maxlength="480" name="descricao" placeholder="Texto Aqui"></textarea>

      <label class="label_fonte">Selecione a fonte</label>
      <app-listar-fontes></app-listar-fontes>

      <label class="label_cor_texto">Selecione a cor do texto</label>
      <app-selecionar-cor></app-selecionar-cor>
      <div class="botoes">
        <button type="button" name="cancelar" class="secundario">Cancelar<div></div></button>
        <button type="button" name="salvar" class="primario">Salvar<div></div></button>
      </div>
    </div>
  </app-modal>

<!-- MODAL BOTÃO -->
  <app-modal id="editar_botao" name="editar_botao">
    <div class="conteudo_modal">
      <h2 class="titulo">Editar Botão</h2>
      <p class="descricao">Estilize o texto, o formato, a fonte e as cores do botão para combinar ainda mais com sua tela.</p>
      <label class="label_texto_botao">Digite o texto</label>
      <input type="text" spellcheck="false" name="texto" maxlength="30" placeholder="Texto no botão">
      <label class="label_link_botao">Digite o link</label>
      <input type="text" spellcheck="false" name="url" placeholder="https://google.com">

      <label class="label_formato_botao">Selecione o formato</label>
      <app-listar-botoes-formatos></app-listar-botoes-formatos>

      <label class="label_fonte">Selecione a Fonte</label>
      <app-listar-fontes></app-listar-fontes>

      <label class="label_cor_texto">Selecione a cor do texto</label>
      <app-selecionar-cor name="cor_texto"></app-selecionar-cor>

      <label class="label_cor_fundo">Selecione a cor do fundo</label>
      <app-selecionar-cor name="cor_fundo"></app-selecionar-cor>

      <div class="botoes">
        <button type="button" name="cancelar" class="secundario">Cancelar<div></div></button>
        <button type="button" name="salvar" class="primario">Salvar<div></div></button>
      </div>
    </div>
  </app-modal>

  <!-- MODAL FUNDO -->
  <app-modal id="editar_fundo" name="editar_fundo">
    <!-- Editar Fundo -->
    <section id="menu_fundo" name="inicio" class="editar_fundo">
      <div class="conteudo_modal">
        <h2 class="titulo">Editar Fundo</h2>
        <p class="descricao">Você quer usar um wallpaper, uma cor, um degradê ou enviar uma imagem do seu dispositivo?</p>
        <div class="botoes_opcoes">
          <div class="wrapper_opcoes">
            <button type="button" name="ver_wallpaper" class="primario">Escolher Wallpaper<div></div></button>
            <button type="button" name="ver_cor" class="primario">Escolher Cor<div></div></button>
          </div>
          <div class="wrapper_opcoes">
            <button type="button" name="ver_degrade" class="primario">Escolher Degrade<div></div></button>
            <button type="button" name="ver_envio" class="primario">Enviar Fundo<div></div></button>
          </div>
          <button type="button" name="cancelar" class="secundario">Cancelar<div></div></button>
        </div>
      </div>
    </section>
    <!-- Escolher Wallpaper -->
    <section id="wallpaper_fundo" name="wallpaper" class="wallpaper_fundo ocultar">
      <div class="conteudo_modal">
      <h2 class="titulo">Wallpapers</h2>
      <p class="descricao">Escolha o wallpaper que mais combina com sua tela.</p>
      <label class="label_pesquisa_fundos">Selecione o wallpaper</label>
      <app-listar-fundos></app-listar-fundos>
      <div class="botoes">
        <button type="button" name="voltar" class="secundario">Voltar<div></div></button>
        <button type="button" name="salvar" class="primario">Salvar<div></div></button>
      </div>
      </div>
    </section>
    <!-- Escolher Cor -->
    <section id="cor_fundo" name="cor" class="cor_fundo ocultar">
      <div class="conteudo_modal">
        <h2 class="titulo">Cores</h2>
        <p class="descricao">Escolha uma cor para deixar sua tela mais colorido.</p>
        <label class="label_cor_fundo">Selecione a cor</label>
        <app-selecionar-cor name="cor_fundo"></app-selecionar-cor>
        <div class="botoes">
          <button type="button" name="voltar" class="secundario">Voltar<div></div></button>
          <button type="button" name="salvar" class="primario">Salvar<div></div></button>
        </div>
      </div>
    </section>
    <!-- Escolher Degrade -->
    <section id="degrade_fundo" name="degrade" class="cor_fundo ocultar">
      <div class="conteudo_modal">
        <h2 class="titulo">Degradês</h2>
        <p class="descricao">Escolha uma degradê para deixar sua tela ainda mais charmosa.</p>
        <label class="label_cor_degrade1">Selecione a primeira cor</label>
        <app-selecionar-cor name="cor1"></app-selecionar-cor>

        <label class="label_cor_degrade2">Selecione a segunda cor</label>
        <app-selecionar-cor name="cor2"></app-selecionar-cor>
        <div class="botoes">
          <button type="button" name="voltar" class="secundario">Voltar<div></div></button>
          <button type="button" name="salvar" class="primario">Salvar<div></div></button>
        </div>
      </div>
    </section>
    <!-- Enviar Fundo -->
    <section id="enviar_fundo" name="envio" class="cor_fundo ocultar">
      <div class="conteudo_modal">
        <h2 class="titulo">Enviar Fundo</h2>
        <p class="descricao">Envie uma imagem do seu dispositivo para deixar sua tela única.</p>
        <label class="label_envio_fundo">Envie o fundo</label>
        <app-enviar-imagem></app-enviar-imagem>
        <p class="especificacao_envio">Peso Max 20MB; Formato png, jpg ou jpeg; Resolução 1920x1080px</p>
        <label class="label_preview">Amostra do envio</label>
        <div class="fundo" name="fundo"></div>
        <div class="botoes">
          <button type="button" name="voltar" class="secundario">Voltar<div></div></button>
          <button type="button" name="salvar" class="primario">Salvar<div></div></button>
        </div>
      </div>
    </section>
  </app-modal>

  <!-- ALERTA  -->
  <app-alerta></app-alerta>

  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-D4JTHYX759"></script>
  <script async src="https://static.redireci.one/js/ga.js"></script>

</body>
</html>
