<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">

  <!-- Titulo -->
  <title>Telas</title>
  <meta property="og:title" content="Telas">
  <meta name="twitter:title" content="Telas">
  <meta name="discord:title" content="Telas">

  <!-- Description -->
  <meta name="description" content="Gerencie todas as telas da sua página RED">
  <meta itemprop="description" content="Gerencie todas as telas da sua página RED">
  <meta property="og:description" content="Gerencie todas as telas da sua página RED">
  <meta name="twitter:description" content="Gerencie todas as telas da sua página RED">
  <meta name="discord:description" content="Gerencie todas as telas da sua página RED">

  {{> metatags}}
  {{> favicons}}

</head>
<body>

  <!-- NAV -->
  <nav>
    <div class="linha"></div>
    <div name="para_painel" class="logo">
      <img src="https://static.redireci.one/assets/app/logo-redirecione-links.svg">
    </div>
    {{> menu}}
  </nav>

  <!-- MAIN -->
  <main>
    <!-- SECTION -->
    <section class="telas" name="telas">
      <!-- Textos -->
      <h2 class="titulo">Sua página Redirecione</h2>
      <p class="url" name="url">redireci.one/</p>
      <!-- Telas -->
      <app-listar-telas></app-listar-telas>
      <!-- Adicionar Tela -->
      <button type="button" name="adicionar" class="primario">Criar nova Tela<div></div></button>
      <!-- Assinar -->
      <button type="button" name="assinar" class="assinar">Aprimorar para RED<div></div></button>
      <div class="quadro">
        <app-visualizacoes>
          <p class="descricao">Total de visualizações em sua página RED.</p>
          <p class="numero" name="visualizacoes">0</p>
        </app-visualizacoes>
      </div>
    </section>
  </main>

  <!-- ALERTA -->
  <app-alerta></app-alerta>

  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-D4JTHYX759"></script>
  <script async src="https://static.redireci.one/js/ga.js"></script>

  <script>
    if ('serviceWorker' in navigator) navigator.serviceWorker.register('service-worker.js')
  </script>

</body>
</html>
