/*

PERFIL partials SECTION PERFIL

*/

section.perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

section.perfil .informacoes {
  margin-top: 40px;
}

section.perfil .botoes {
  margin-top: calc(50px - 20px); /* margin superior botao */
}

section.perfil > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

section.perfil img {
  width: 200px;
  min-width: 200px;
}

section.perfil img.imagem_gratis {
  display: block;
}
section.perfil img.imagem_assinante {
  display: none;
}

section.perfil img.imagem_gratis.assinante {
  display: none;
}
section.perfil img.imagem_assinante.assinante {
  display: block;
}

section.perfil p.email {
  font-family: var(--roboto-medium);
  font-size: 1.2rem;
  color: var(--cor-branco);
  padding: 5px 0;
}

section.perfil p.url {
  font-family: var(--maven-regular);
  font-size: 1.1rem;
  color: var(--cor-vermelho);
  cursor: pointer;
}
section.perfil p.url:hover {
  color: var(--cor-vermelho-claro);
  text-decoration: underline;
}
section.perfil p.url.assinante {
  color: var(--cor-verde);
}

section.perfil p.tipo_conta,
section.perfil p.tipo_conta > .destaque {
  font-family: var(--maven-regular);
  font-size: 1rem;
  color: var(--cor-branco);
  padding-top: 5px;
}
section.perfil p.tipo_conta > .destaque {
  font-family: var(--maven-medium);
  color: var(--cor-vermelho);
}
section.perfil p.tipo_conta > .destaque.assinante {
  color: var(--cor-verde);
}

section.perfil button {
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
}
