/*

SUPORTE partials SECTION SUPORTE

*/

section.suporte {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 600px;
  width: 100%;
}

section.suporte .botoes {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 20px;
}

section.suporte .botoes button {
  width: 100%;
  min-height: 100px;
}

section.suporte .duvidas h2 {
  padding: 50px 0px 10px 0px;
}

/* Responsivo */

@media screen and (max-width: 1000px) {
}
