/*

COMPONENT APP-LISTAR-FONTES

*/

app-listar-fontes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 300px;
  max-height: 300px;
  overflow-y: scroll;
  padding-right: 5px;
}

app-listar-fontes .fonte {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 150px;
  background-color: var(--cor-secundaria-2);
  border: 3px solid var(--cor-secundaria-2);
  padding: 20px 5px;
  cursor: pointer;
  flex: 1;
  transition: all 0.2s;
  margin-bottom: 5px;
}

app-listar-fontes .fonte:hover {
  border: 3px solid var(--cor-secundaria-3);
}

app-listar-fontes .fonte p {
  font-size: 1.2rem;
  color: var(--cor-branco);
  pointer-events: none;
}

app-listar-fontes .fonte.selecionado {
  background-color: var(--cor-secundaria-3);
  border: 3px solid var(--cor-secundaria-3);
  cursor: default;
}

/* Responsivo */

@media screen and (max-width: 700px) {
  app-listar-fontes .fonte p {
    font-size: 1rem;
  }
}
