/*

COMPONENTS APP-ENVIAR-IMAGEM

*/

app-enviar-imagem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 250px;
  min-height: 250px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s;
}

app-enviar-imagem img {
  width: 100%;
  max-width: 100px;
  pointer-events: none;
}

app-enviar-imagem p.placeholder {
  font-family: var(--roboto-medium);
  color: var(--cor-secundaria-7);
  font-size: 0.9rem;
  padding-top: 10px;
  pointer-events: none;
}

app-enviar-imagem:hover {
  background-color: var(--cor-secundaria-1);
}

app-enviar-:hover p.placeholder {
  color: var(--cor-branco);
}
