/*

COMPONENT APP-SELECIONAR-COR

*/

app-selecionar-cor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

app-selecionar-cor input {
  width: 100%;
}

app-selecionar-cor .visualizar {
  position: absolute;
  height: 15px;
  min-height: 15px;
  width: 15px;
  min-width: 15px;
  border-radius: 50%;
  left: 10px;
  top: 10px;
  background-color: var(--cor-branco);
}

app-selecionar-cor div.amostra_cores {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
}

app-selecionar-cor div.amostra_cores p.cor_componente {
  position: absolute;
  right: 0;
  top: -67px;
  font-family: var(--fonte-bold);
  font-size: 1rem;
  padding: 10px;
  background-color: var(--cor-secundaria-3);
  color: var(--cor-branco);
}

app-selecionar-cor div.amostra_cores div.cor {
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  flex: 1;
  cursor: pointer;
  opacity: .8;
  border: 2px solid transparent;
  transition: ease-out all 0.2s;
}
app-selecionar-cor div.amostra_cores div.cor:hover {
  border: 2px solid white;
  opacity: 1;
}
app-selecionar-cor div.amostra_cores div.cor.selecionado {
  transform: scale(0.8);
  border: 2px solid white;
  opacity: 1;
}

app-selecionar-cor div.amostra_cores div.cor1 {
  background-color: #ffffff;
}

app-selecionar-cor div.amostra_cores div.cor2 {
  background-color: #000000;
}

app-selecionar-cor div.amostra_cores div.cor3 {
  background-color: #c7c7c7;
}

app-selecionar-cor div.amostra_cores div.cor4 {
  background-color: #a0a0a0;
}

app-selecionar-cor div.amostra_cores div.cor5 {
  background-color: #6c6c6c;
}

div.amostra_cores div.cor6 {
  background-color: #d62828;
}

app-selecionar-cor div.amostra_cores div.cor7 {
  background-color: #f77f00;
}

app-selecionar-cor div.amostra_cores div.cor8 {
  background-color: #52b788;
}

app-selecionar-cor div.amostra_cores div.cor9 {
  background-color: #4ea8de;
}

app-selecionar-cor div.amostra_cores div.cor10 {
  background-color: #d4d700;
}

app-selecionar-cor div.amostra_cores div.cor11 {
  background-color: #5a189a;
}

app-selecionar-cor div.amostra_cores div.cor12 {
  background-color: #a5ffd6;
}

app-selecionar-cor div.amostra_cores div.cor13 {
  background-color: #ffb700;
}

app-selecionar-cor div.amostra_cores div.cor14 {
  background-color: #00bbf9;
}

app-selecionar-cor div.amostra_cores div.cor15 {
  background-color: #3a0ca3;
}

app-selecionar-cor div.amostra_cores div.cor16 {
  background-color: #33415c;
}

app-selecionar-cor div.amostra_cores div.cor17 {
  background-color: #f38375;
}

app-selecionar-cor div.amostra_cores div.cor18 {
  background-color: #724cf9;
}

app-selecionar-cor div.amostra_cores div.cor19 {
  background-color: #775144;
}

app-selecionar-cor div.amostra_cores div.cor20 {
  background-color: #ccff33;
}

app-selecionar-cor div.amostra_cores div.cor21 {
  background-color: #ff6000;
}

app-selecionar-cor div.amostra_cores div.cor22 {
  background-color: #ee4266;
}

app-selecionar-cor div.amostra_cores div.cor23 {
  background-color: #5c4d3c;
}

app-selecionar-cor div.amostra_cores div.cor24 {
  background-color: #ff0000;
}

app-selecionar-cor div.amostra_cores div.cor25 {
  background-color: #aa4465;
}

app-selecionar-cor div.amostra_cores div.cor26 {
  background-color: #474056;
}

app-selecionar-cor div.amostra_cores div.cor27 {
  background-color: #1c0f13;
}

app-selecionar-cor div.amostra_cores div.cor28 {
  background-color: #94ecbe;
}

app-selecionar-cor div.amostra_cores div.cor29 {
  background-color: #dc0073;
}

app-selecionar-cor div.amostra_cores div.cor30 {
  background-color: #edc531;
}

app-selecionar-cor div.amostra_cores div.cor31 {
  background-color: #3bceac;
}

app-selecionar-cor div.amostra_cores div.cor32 {
  background-color: #ffc857;
}

app-selecionar-cor div.amostra_cores div.cor33 {
  background-color: #c9a227;
}

app-selecionar-cor div.amostra_cores div.cor34 {
  background-color: #a663cc;
}

app-selecionar-cor div.amostra_cores div.cor35 {
  background-color: #400000;
}

app-selecionar-cor div.amostra_cores div.cor36 {
  background-color: #89fc00;
}

@media screen and (max-width: 800px) {
  app-selecionar-cor .visualizar {
    height: 10px;
    min-height: 10px;
    width: 10px;
    min-width: 10px;
  }

}
