app-listar-botoes-formatos {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  overflow-y: scroll;
  max-height: 300px;
  min-height: 300px;
}

app-listar-botoes-formatos div.formato {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex: 1;
  width: 140px;
  min-width: 140px;
  min-height: 140px;
  cursor: pointer;
}

app-listar-botoes-formatos div.formato button {
  font-family: var(--roboto-medium);
  font-size: 0.9rem;
  color: var(--cor-cinza);
  background-color: var(--cor-secundaria-3);
  width: max-content;
  transition: all 0.2s;
  pointer-events: none;
}

app-listar-botoes-formatos div.formato.selecionado button {
  background-color: var(--cor-branco);
  color: var(--cor-secundaria-6);
}
