/*

COMPONENT APP-LISTAR-TELAS

*/

app-listar-telas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-height: 500px;
  overflow-y: scroll;
  padding-right: 10px;
}

/* Tela */

app-listar-telas .tela {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 25px;
}

app-listar-telas .tela:nth-child(1) {
  margin-top: 0px;
}

app-listar-telas .tela:hover {
  border: var(--borda-solido-5);
}

/* Drag Tela */

app-listar-telas .tela .mover {
  background-color: var(--cor-secundaria-1);
  border: 5px solid var(--cor-secundaria-2);
  width: 70px;
  min-width: 70px;
  height: 70px;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  cursor: pointer;
}

app-listar-telas .tela .mover:hover {
  background-color: var(--cor-secundaria-3);
}

app-listar-telas .tela .mover.ativo {
  background-color: var(--cor-branco);
}

app-listar-telas .tela .mover img {
  width: 25px;
  min-width: 25px;
  height: 25px;
  min-height: 25px;
  pointer-events: none;
}

/* Button Link */

app-listar-telas button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  background-color: transparent;
  width: 100%;
  min-height: 70px;
  text-align: left;
  padding: 0px 20px;
  background-color: var(--cor-secundaria-1);
  border: 2px solid var(--cor-secundaria-2);
  transition: all 0.2s;
}

app-listar-telas button:hover {
  border: 2px solid var(--cor-secundaria-4);
}

app-listar-telas button img {
  width: 25px;
  height: 25px;
  margin-left: auto;
  pointer-events: none;
}

app-listar-telas button p {
  pointer-events: none;
  font-family: var(--maven-regular);
  color: var(--cor-branco);
  font-size: 1rem;
}

/* Responsivo */

@media screen and (max-width: 1000px) {
  app-listar-telas button {
    font-size: 0.9rem;
  }
}
