/*

COMPONENT APP-MODAL

*/

app-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  background-color: var(--cor-secundaria-2);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  overflow-y: scroll;
}

app-modal > section {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

app-modal .conteudo_modal {
  padding: 130px 20px 130px 20px;
  width: 100%;
  max-width: 600px;
}

/* Mostrar e Ocultar */

app-modal.mostrar {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
app-modal .mostrar {
  display: block;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

app-modal.ocultar {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
app-modal .ocultar {
  display: none;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-animation: fadeOut 1s;
  animation: fadeOut 1s;
}

/* Textos */

app-modal p.descricao {
  padding: 5px 0px 20px 0px;
  width: 100%;
}

app-modal p.input_falso {
  font-family: var(--maven-regular);
  font-size: 1.2rem;
  color: var(--cor-branco);
  background-color: var(--cor-secundaria-1);
  padding: 30px;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
}

/* Input */

app-modal input {
  width: 100%;
  margin-bottom: 20px;
}

/* Divs */

app-modal div.input {
  width: 100%;
}

/* Botoes */

app-modal .botoes {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

app-modal .botoes button.primario,
app-modal .botoes button.secundario {
  width: 100%;
}

app-modal .botoes button.primario {
  margin-left: 20px;
}

/* Botoes Opções*/

app-modal .botoes_opcoes {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

app-modal .botoes_opcoes > .wrapper_opcoes {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

app-modal .botoes_opcoes button {
  width: 100%;
}

app-modal .botoes_opcoes > .wrapper_opcoes > button {
  margin-left: 20px;
}
app-modal .botoes_opcoes > .wrapper_opcoes > button:first-child {
  margin-left: 0;
}

/* Titulo */

app-modal h2.titulo {
  width: 100%;
}

app-modal .conteudo {
  width: 100%;
  margin: 20px 0px 20px 0px;
}

/* input com texto */

app-modal .input {
  position: relative;
  width: 100%;
}

app-modal .input p {
  position: absolute;
  left: 30px;
  font-family: var(--maven-regular);
  font-size: 1.2rem;
  color: var(--cor-secundaria-7);
  top: 32px;
  pointer-events: none;
}

app-modal .input input {
  padding-left: 138px;
}

/* textarea */

app-modal textarea {
  width: 100%;
  text-align: center;
  background-color: var(--cor-secundaria-3);
  font-size: 1.2rem;
  line-height: 1.5rem;
  resize: none;
  padding: 25px 15px;
  margin: 10px 0px 40px 0px;
  min-height: 200px;
}

/* Components no Modal */

app-modal app-enviar-imagem {
  margin: 0;
}
/* Especificações Enviar-Imagem */
app-modal .especificacao_envio {
  font-family: var(--maven-regular);
  color: var(--cor-cinza);
  font-size: .8rem;
  margin-top: 10px;
  margin-bottom: 25px;
}

app-modal app-listar-botoes-formatos {
  margin: 20px 0px 40px 0px;
}

app-modal app-listar-icones {
  margin: 20px 0px 40px 0px;
}

app-modal app-listar-fontes {
  margin: 0px 0px 40px 0px;
}

app-modal app-selecionar-cor {
  margin: 0px 0px 0px 0px;
}

app-modal app-listar-fundos {
  margin: 0px 0px 20px 0px;
}

app-modal .amostra_cores {
  margin: 0px 0px 20px 0px;
}

app-modal .fundo {
  width: 100%;
  min-height: 280px;
  background-color: var(--cor-secundaria-2);
  background-image: unset;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 10px 0px 20px 0px;
  border-radius: 15px;
  border: 2px solid var(--cor-branco);
}

/* Responsivo */

@media screen and (max-width: 1000px) {
  app-modal .input p {
    left: 20px;
    font-size: 1rem;
    top: 22px;
  }
  app-modal .input input {
    padding-left: 109px;
  }
  app-modal p.input_falso {
    font-size: 1rem;
    padding: 20px;
  }
  app-modal textarea {
    font-size: 1rem;
  }
  app-modal .fundo {
    min-height: 450px;
  }
  app-modal .especificacao_envio {
    font-size: .6rem;
  }
}
