/*

components APP-LISTAR-ICONES

*/

app-listar-icones {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Busca */

app-listar-icones input {
  margin-bottom: 30px;
}

/* Galeria */

app-listar-icones .galeria {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-height: 400px;
  overflow-y: scroll;
  padding-right: 5px;
}

/* Itens */

app-listar-icones .galeria .item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  width: 100%;
  min-width: 100px;
  height: 130px;
  min-height: 130px;
  cursor: pointer;
  flex: 1;
  transition: all 0.2s;
  opacity: 0.8;
  border: 3px solid var(--cor-secundaria-2);
  margin: 5px;
}

app-listar-icones .galeria .item img {
  width: 100%;
  max-width: 80px;
  pointer-events: none;
}

app-listar-icones .galeria .item.selecionado:hover {
  cursor: default;
}

app-listar-icones .galeria .item:hover,
app-listar-icones .galeria .item.selecionado {
  border: 3px solid var(--cor-branco);
  opacity: 1;
}

/* Responsivo */

@media screen and (max-width: 600px) {
  app-listar-icones .busca {
    max-width: 270px;
  }
}
