/*

components APP-OPCOES

*/

app-opcoes {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
}

app-opcoes button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-family: var(--maven-regular);
  font-size: 1rem;
  transition: ease-out all 0.2s;
  margin-right: 25px;
}
app-opcoes button:last-child {
  margin-right: 0px;
}

app-opcoes button.voltar {
  color: var(--cor-cinza);
}
app-opcoes button.voltar:hover {
  color: var(--cor-branco);
}

app-opcoes button.deletar {
  color: var(--cor-vermelho-escuro);
}
app-opcoes button.deletar:hover {
  color: var(--cor-vermelho-claro);
}

app-opcoes button.nome {
  color: var(--cor-azul-escuro);
}
app-opcoes button.nome:hover {
  color: var(--cor-azul-claro);
}

app-opcoes.voltar button.nome,
app-opcoes.voltar button.deletar {
  display: none;
}

app-opcoes button img {
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  margin-right: 5px;
  transition: ease-out all .3s;
  opacity: .5;
}
app-opcoes button:hover img {
  opacity: 1;
}

/* Responsivo */

@media screen and (max-width: 700px) {
  app-opcoes {
    margin: 15px 0px;
  }
}
