/*

components APP-LISTAR-FUNDOS

*/

app-listar-fundos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Busca */

app-listar-icones input {
  margin-bottom: 30px;
}

/* Galeria */

app-listar-fundos .galeria {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 500px;
  min-height: 500px;
  overflow-y: scroll;
  padding-right: 5px;
}

/* Itens */

app-listar-fundos .galeria .item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-quadro);
  cursor: pointer;
  flex: 1;
  min-height: 160px;
  transition: all 0.2s;
}

app-listar-fundos .galeria .item img {
  border-radius: var(--radius-quadro);
  width: 100%;
  min-width: 230px;
  min-height: 160px;
  height: 160px;
  pointer-events: none;
}

app-listar-fundos .galeria .item.selecionado {
  transform: scale(0.9);
}

app-listar-fundos .galeria .item.selecionado:hover {
  cursor: default;
}

/* Responsivo */

@media screen and (max-width: 450px) {
  app-listar-fundos .galeria .item {
    min-height: 200px;
    height: 200px;
  }
  app-listar-fundos .galeria .item img {
    min-height: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 390px) {
  app-listar-fundos .galeria .item {
    min-height: 180px;
    height: 180px;
  }
  app-listar-fundos .galeria .item img {
    min-height: 180px;
    height: 180px;
  }
}
