/*

components APP-EDITAR

*/

app-editar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 25px;
  z-index: 1;
}

app-editar button {
  min-height: 80px;
  min-width: 150px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  background-color: var(--cor-secundaria-2);
  padding: 15px;
  margin-left: 30px;
}
app-editar button:nth-child(1) {
  margin-left: 25px;
}
app-editar button:hover h3,
app-editar button:hover p {
  color: var(--cor-branco);
}
app-editar button:hover img {
  opacity: 1;
}

app-editar button h3 {
  font-family: var(--roboto-medium);
  font-size: 1.1rem;
  color: var(--cor-cinza);
  transition: all 0.2s;
}

app-editar button p {
  font-family: var(--maven-medium);
  font-size: 0.9rem;
  color: var(--cor-cinza);
  transition: all 0.2s;
}

app-editar button img {
  position: relative;
  margin-bottom: 15px;
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  opacity: 0.5;
  transition: all 0.2s;
}

app-editar.icone button.editar_icone img {
  opacity: 1;
}

app-editar.icone button.editar_icone p,
app-editar.icone button.editar_icone h3 {
  color: var(--cor-branco);
}

app-editar.descricao button.editar_descricao img {
  opacity: 1;
}

app-editar.descricao button.editar_descricao p,
app-editar.descricao button.editar_descricao h3 {
  color: var(--cor-branco);
}

app-editar.botao button.editar_botao img {
  opacity: 1;
}

app-editar.botao button.editar_botao p,
app-editar.botao button.editar_botao h3 {
  color: var(--cor-branco);
}

app-editar.fundo button.editar_fundo img {
  opacity: 1;
}

app-editar.fundo button.editar_fundo p,
app-editar.fundo button.editar_fundo h3 {
  color: var(--cor-branco);
}

/* Responsivo */

@media screen and (max-width: 1000px) {
  app-editar {
    justify-content: flex-start;
    overflow-x: scroll;
    margin-bottom: 15px;
  }
  app-editar button {
    margin-left: 15px;
  }
}
