/*

COMPONENT APP-ALERTA

*/

app-alerta {
  position: fixed;
  z-index: 15;
  top: 100px;
  right: 0;
  background-color: var(--cor-secundaria-3);
  padding: 30px;
  width: 100%;
  max-width: 400px;
  cursor: default;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateX(50px);
  transition: all 0.5s;
}

app-alerta.sucesso {
  border-right: 10px solid var(--cor-verde);
}

app-alerta.sucesso h3 {
  color: var(--cor-verde);
}

app-alerta.erro {
  border-right: 10px solid var(--cor-vermelho);
}

app-alerta.erro h3 {
  color: var(--cor-vermelho);
}

app-alerta.aviso {
  border-right: 10px solid var(--cor-azul);
}

app-alerta.aviso h3 {
  color: var(--cor-azul);
}

app-alerta.mostrar {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateX(0px);
}

app-alerta.ocultar {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* Texto */

app-alerta .texto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 100%;
  pointer-events: none;
}

app-alerta .texto p {
  font-family: var(--maven-regular);
  color: var(--cor-branco);
  font-size: 1rem;
}

app-alerta .texto h3 {
  font-family: var(--roboto-medium);
  font-size: 1.2rem;
  padding-bottom: 5px;
}

/* Responsivo */

@media screen and (max-width: 900px) {
  app-alerta {
    top: 15px;
    right: 10px;
    width: calc(100% - 20px);
  }
  app-alerta .texto p.descricao {
    font-size: 0.8rem;
  }
  app-alerta .texto p.titulo {
    font-size: 1rem;
  }
}
