
app-listar-icones-formatos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
}

app-listar-icones-formatos div.circulo,
app-listar-icones-formatos div.quadrado,
app-listar-icones-formatos div.arredondado {
  background-image: unset;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--cor-secundaria-2);
  border: 2px solid var(--cor-secundaria-3);
  width: 110px;
  min-width: 110px;
  height: 110px;
  min-height: 110px;
  cursor: pointer;
  transition: all 0.2s;
}

app-listar-icones-formatos .circulo {
  border-radius: 50%;
}

app-listar-icones-formatos .quadrado {
  border-radius: 0px;
}

app-listar-icones-formatos .arredondado {
  border-radius: 20px;
}

app-listar-icones-formatos div.circulo:hover,
app-listar-icones-formatos div.quadrado:hover,
app-listar-icones-formatos div.arredondado:hover {
  opacity: 1;
  border: 2px solid var(--cor-secundaria-7);
}

app-listar-icones-formatos div.circulo.selecionado,
app-listar-icones-formatos div.quadrado.selecionado,
app-listar-icones-formatos div.arredondado.selecionado {
  border: 2px solid var(--cor-branco);
  transform: scale(1.05);
}

app-listar-icones-formatos div.circulo.selecionado:hover,
app-listar-icones-formatos div.quadrado.selecionado:hover,
app-listar-icones-formatos div.arredondado.selecionado:hover {
  opacity: 1;
  cursor: default;
}

/* Responsivo */

@media screen and (max-width: 700px) {
  app-listar-icones-formatos div.circulo,
  app-listar-icones-formatos div.quadrado,
  app-listar-icones-formatos div.arredondado {
    width: 90px;
    min-width: 90px;
    height: 90px;
    min-height: 90px;
  }
}
