<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">

  <!-- Titulo -->
  <title>Registrar</title>
  <meta property="og:title" content="Registrar">
  <meta name="twitter:title" content="Registrar">
  <meta name="discord:title" content="Registrar">

  <!-- Description -->
  <meta name="description" content="Crie uma conta Redirecione e obtenha uma página incrível em poucos minutos.">
  <meta itemprop="description" content="Crie uma conta Redirecione e obtenha uma página incrível em poucos minutos.">
  <meta property="og:description" content="Crie uma conta Redirecione e obtenha uma página incrível em poucos minutos.">
  <meta name="twitter:description" content="Crie uma conta Redirecione e obtenha uma página incrível em poucos minutos.">
  <meta name="discord:description" content="Crie uma conta Redirecione e obtenha uma página incrível em poucos minutos.">

  <!-- Site URL -->
  <link rel="canonical" href="https://app.redireci.one/registrar">
  <meta property="og:url" content="https://app.redireci.one/registrar">
  <meta name="discord:site" content="https://app.redireci.one/registrar">
  <meta property="discord:url" content="https://app.redireci.one/registrar">

  {{> metatags}}
  {{> favicons}}

</head>
<body>

  <!-- PRIMARIA -->
  <section class="registrar" name="registrar">
    <!-- Registro -->
    <div class="registro">
      <img src="https://static.redireci.one/assets/global/logo-redirecione.svg">
      <input type="text" spellcheck="false" name="nome"  placeholder="Seu nome">
      <input type="email" spellcheck="false" name="email"  placeholder="Seu email">
      <input type="password" spellcheck="false" name="senha" placeholder="Crie uma Senha">
      <input type="password" spellcheck="false" name="senha2" placeholder="Confirme a Senha">
      <div class="url">
        <p>redireci.one/</p>
        <input class="url_input" type="text" spellcheck="false" name="usuario" placeholder="seu-usuario">
      </div>
      <div class="botoes">
        <button type="button" name="entrar" class="secundario">Voltar<div></div></button>
        <button type="button" name="registrar" class="primario">Continuar<div></div></button>
      </div>
    </div>
  </section>

  <!-- ALERTA -->
  <app-alerta></app-alerta>

  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-D4JTHYX759"></script>
  <script async src="https://static.redireci.one/js/ga.js"></script>

  <!-- FaceAds -->
  <script async src="https://static.redireci.one/js/fb.js"></script>
  <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=378763450074302&ev=PageView&noscript=1"/></noscript>

</body>
</html>
