<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">

  <!-- Titulo -->
  <title>Um pequeno ERRO</title>
  <meta property="og:title" content="Um pequeno ERRO">
  <meta name="twitter:title" content="Um pequeno ERRO">
  <meta name="discord:title" content="Um pequeno ERRO">

  <!-- Description -->
  <meta name="description" content="Essa página não existe.">
  <meta itemprop="description" content="Essa página não existe.">
  <meta property="og:description" content="Essa página não existe.">
  <meta name="twitter:description" content="Essa página não existe.">
  <meta name="discord:description" content="Essa página não existe.">

  {{> metatags}}
  {{> favicons}}

</head>
<body>

  <!-- MAIN -->
  <main>
    <!-- SECTION -->
    <section class="erro" name="erro">
      <p class="descricao">Essa página que você está tentando acessar não existe. Por favor, verifique a URL e tente novamente.</p>
      <button type="button" name="voltar" class="primario">Voltar<div></div></button>
    </section>
  </main>

  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-D4JTHYX759"></script>
  <script async src="https://static.redireci.one/js/ga.js"></script>

</body>
</html>
