<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">

  <!-- Titulo -->
  <title>Perfil</title>
  <meta property="og:title" content="Perfil">
  <meta name="twitter:title" content="Perfil">
  <meta name="discord:title" content="Perfil">

  <!-- Description -->
  <meta name="description" content="Tela de perfil do usuário. Aqui você pode alterar suas informações pessoais.">
  <meta itemprop="description" content="Tela de perfil do usuário. Aqui você pode alterar suas informações pessoais.">
  <meta property="og:description" content="Tela de perfil do usuário. Aqui você pode alterar suas informações pessoais.">
  <meta name="twitter:description" content="Tela de perfil do usuário. Aqui você pode alterar suas informações pessoais.">
  <meta name="discord:description" content="Tela de perfil do usuário. Aqui você pode alterar suas informações pessoais.">

  {{> metatags}}
  {{> favicons}}

</head>
<body>

  <!-- NAV -->
  <nav>
    <div class="linha"></div>
    <div name="para_painel" class="logo">
      <img src="https://static.redireci.one/assets/app/logo-redirecione-perfil.svg">
    </div>
    {{> menu}}
  </nav>

  <!-- MAIN -->
  <main>
    <!-- SECTION -->
    <section class="perfil" name="perfil">
      <div class="imagem_perfil">
        <img class="imagem_gratis" name="imagem_gratis" src="https://static.redireci.one/assets/app/placeholder-perfil.svg">
        <img class="imagem_assinante" name="imagem_assinante" src="https://static.redireci.one/assets/app/placeholder-perfil-assinante.svg">
      </div>
      <div class="informacoes">
        <p name="email" class="email">email@email.com</p>
        <p name="url" class="url">redireci.one/</p>
        <p name="tipo_assinatura" class="tipo_conta">Assinatura <span class="destaque">GRATIS</span></p>
      </div>
      <div class="botoes">
        <button type="button" name="assinar" class="assinar">Aprimorar para RED<div></div></button>
        <button type="button" name="alterar_senha" class="secundario">Alterar Senha</button>
        <button type="button" name="alterar_usuario" class="secundario">Alterar Usuário</button>
        <button type="button" name="sair" class="secundario">Sair da Conta</button>
      </div>
    </section>
  </main>

  <!-- MODAL -->
  <app-modal id="alterar_senha" name="alterar_senha">
    <div class="conteudo_modal">
      <h2 class="titulo">Nova senha</h2>
      <p class="descricao">Use uma nova senha segura, com letras, números e símbolos.</p>
      <input type="password" spellcheck="false" name="senha_atual" placeholder="Senha atual">
      <input type="password" spellcheck="false" name="senha_nova" placeholder="Nova Senha">
      <input type="password" spellcheck="false" name="senha_nova2" placeholder="Confirme a nova senha">
      <div class="botoes">
        <button type="button" name="voltar" class="secundario">Cancelar<div></div></button>
        <button type="button" name="alterar" class="primario">Salvar Senha<div></div></button>
      </div>
    </div>
  </app-modal>

  <!-- MODAL -->
  <app-modal id="alterar_usuario" name="alterar_usuario">
    <div class="conteudo_modal">
      <h2 class="titulo">Alterar Usuário</h2>
      <p class="descricao">Lembre-se que essa alteração pode acarretar em mudanças drásticas.</p>
      <p name="usuario_atual" class="input_falso">redireci.one/seu-usuario</p>
      <div class="input">
        <p>redireci.one/</p>
        <input type="text" spellcheck="false" name="usuario_novo" placeholder="novo-usuario">
      </div>
      <div class="botoes">
        <button type="button" name="voltar" class="secundario">Cancelar<div></div></button>
        <button type="button" name="alterar" class="primario">Salvar<div></div></button>
      </div>
    </div>
  </app-modal>

  <!-- MODAL -->
  <app-modal id="sair_sistema"   name="sair_sistema">
    <div class="conteudo_modal">
      <h2 class="titulo">Sair da Conta</h2>
      <p class="descricao">Deseja deslogar de sua conta?</p>
      <div class="botoes">
        <button type="button" name="voltar" class="secundario">Não<div></div></button>
        <button type="button" name="sair" class="primario">Sim<div></div></button>
      </div>
    </div>
  </app-modal>

  <!-- ALERTA -->
  <app-alerta></app-alerta>

  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-D4JTHYX759"></script>
  <script async src="https://static.redireci.one/js/ga.js"></script>

</body>
</html>
