/*

SECTION TELAS

*/

section.telas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  text-align: center;
}

section.telas p.url {
  font-family: var(--maven-regular);
  font-size: 1.1rem;
  color: var(--cor-azul);
  padding-top: 5px;
  margin-bottom: 50px;
  cursor: pointer;
  transition: ease-out all .3s;
}
section.telas p.url:hover {
  color: var(--cor-azul-claro);
  text-decoration: underline;
}

section.telas button.primario {
  margin-top: 20px;
  width: 100%;
  max-width: 500px;
}

section.telas button.assinar {
  width: 100%;
  margin-top: 20px;
  max-width: 500px;
}

/* Quadro */

section.telas .quadro {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cor-secundaria-3);
  width: 100%;
  margin-top: 50px;
  padding: 20px 40px;
}

section.telas .quadro app-visualizacoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

section.telas .quadro app-visualizacoes p.numero {
  font-family: var(--roboto-medium);
  font-size: 2rem;
  margin-top: 10px;
  color: var(--cor-branco);
}

/* Responsivo */

@media screen and (max-width: 600px) {
  section.telas p.url {
    padding: 5px 0px 30px 0px;
  }
  section.telas .quadro {
    padding: 10px 20px;
  }
  section.telas .quadro app-visualizacoes p.numero {
    font-size: 1.6rem;
  }
}
