/*

ERRO partials SECTION ERRO

*/

section.erro {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: left;
}

section.erro p {
  width: 100%;
  max-width: 550px;
  font-family: var(--maven-regular);
  color: var(--cor-branco);
}

section.erro button {
  margin-top: 25px;
}
