/*

ASSINAR SUCESSO PARTIALS CONFETTI

*/

.confete {
  position: fixed;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  left: 0;
  top: 0;
  pointer-events: none;
}

/* Cores */

.confete .vermelho {
  background-color: var(--cor-vermelho);
}

.confete .amarelo {
  background-color: var(--cor-amarelo);
}

.confete .azul {
  background-color: var(--cor-azul);
}

.confete .verde {
  background-color: var(--cor-verde);
}

/* Formas */

.confete .quadrado {
  width: 15px;
  min-width: 15px;
  max-width: 15px;
  height: 15px;
  min-height: 15px;
  max-height: 15px;
}

.confete .quadrado:nth-child(odd) {
  width: 10px;
  min-width: 10px;
  max-width: 10px;
  height: 10px;
  min-height: 10px;
  max-height: 10px;
}

/* Animations */

.confete .quadrado {
  position: absolute;
  animation: movimento 6s linear infinite;
  top: -5vh;
}

.confete .um {
  left: 1%;
  animation-delay: 3s;
}

.confete .dois {
  left: 6%;
  animation-delay: 1s;
}

.confete .tres {
  left: 11%;
  animation-delay: 2.1s;
}

.confete .quatro {
  left: 16%;
  animation-delay: 4.3s;
}

.confete .cinco {
  left: 21%;
  animation-delay: 6s;
}

.confete .seis {
  left: 26%;
  animation-delay: 2s;
}

.confete .sete {
  left: 31%;
  animation-delay: 4s;
}

.confete .oito {
  left: 36%;
  animation-delay: 8s;
}

.confete .nove {
  left: 41%;
  animation-delay: 4.5s;
}

.confete .dez {
  left: 46%;
  animation-delay: 1.5s;
}

.confete .onze {
  left: 51%;
  animation-delay: 3.2s;
}

.confete .doze {
  left: 56%;
  animation-delay: 6s;
}

.confete .treze {
  left: 61%;
  animation-delay: 1.5s;
}

.confete .quatorze {
  left: 66%;
  animation-delay: 0.5s;
}

.confete .quinze {
  left: 71%;
  animation-delay: 1.2s;
}

.confete .dezesseis {
  left: 76%;
  animation-delay: 2.3s;
}

.confete .dezessete {
  left: 81%;
  animation-delay: 8s;
}

.confete .dezoito {
  left: 86%;
  animation-delay: 5s;
}

.confete .dezenove {
  left: 91%;
  animation-delay: 7s;
}

.confete .vinte {
  left: 96%;
  animation-delay: 10s;
}

/* Animations */

@keyframes movimento {
  0% {
    top: -5vh;
    opacity: 1;
    transform: rotate(0deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 105vh;
    opacity: 0;
    transform: rotate(150deg);
  }
}
