/*

REGISTRAR VIDEO partials SECTION VIDEO

*/

section.sucesso {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  min-height: 100vh;
  padding: 50px;
}

section.sucesso h2 {
  width: 100%;
  max-width: 350px;
  padding: 0px 0px 5px 0px;
  z-index: 1;
}

section.sucesso p {
  width: 100%;
  max-width: 450px;
  padding: 0px 0px 30px 0px;
  z-index: 1;
}

section.sucesso button.primario {
  width: 100%;
  max-width: 200px;
}

/* Responsivo */

@media screen and (max-width: 800px) {
  section.sucesso {
    padding: 20px;
  }
  section.sucesso h2 {
    max-width: 300px;
  }
  section.sucesso p {
    max-width: 400px;
  }
}
