/*

elements BUTTONS

*/

button[disabled=true] {
  opacity: 0.5;
  pointer-events: none;
}

button[disabled=true]::before {
  font-family: var(--roboto-medium);
  font-size: 2rem;
  content: '.';
  position: absolute;
  top: -25px;
  animation: disabled 1s infinite;
}

@keyframes disabled {
  0% {left: 10px;}
  50% {left: 50px;}
  100% {left: 10px;}
}

/* BUTTON primario e secundario */

button.primario,
button.secundario,
button.assinar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--roboto-medium);
  font-size: 1.2rem;
  color: var(--cor-branco);
  background-color: var(--cor-secundaria-3);
  padding: 18px 30px 22px 30px;
  transition: all 0.3s;
  min-height: 65px;
  min-width: 140px;
}

button.primario div,
button.secundario div,
button.assinar div {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  min-height: 4px;
  max-height: 4px;
}

button.primario div {
  background-image: linear-gradient(to right,#49D3FF 0%,#FE5D7A 30%,#FFCD4B 65%,#1EED89 100%);
}

button.secundario div {
  background-image: linear-gradient(to right,#292c35 0%,#363a44 30%,#424751 65%,#5f6571 100%);
}

button.assinar div {
  background-image: linear-gradient(to right, var(--cor-verde-escuro) 0%, var(--cor-verde) 50%, var(--cor-verde-claro) 100%);
}

button.primario:hover,
button.secundario:hover,
button.assinar:hover {
  background-color: var(--cor-secundaria-4);
}

button.assinar.assinante {
  display: none;
}

@media screen and (max-width: 1000px) {
  button.primario,
  button.secundario,
  button.assinar {
    font-size: 0.9rem;
    min-height: 40px;
  }
}
