/*

elements INPUTS

*/

input {
  font-family: var(--maven-regular);
  font-size: 1.2rem;
  background-color: var(--cor-secundaria-1);
  border: 2px solid var(--cor-secundaria-1);
  color: var(--cor-branco);
  padding: 30px;
  width: 100%;
  transition: all 0.2s;
  outline: none;
}

input::placeholder {
  color: var(--cor-secundaria-7);
  opacity: 1;
}

input:focus {
  border: 2px solid var(--cor-secundaria-5);
}

/* Responsivo */

@media screen and (max-width: 1000px) {
  input {
    font-size: 1rem;
    padding: 20px;
  }
}
