/*

elements MAIN

*/

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 120px 50px 120px 50px;
  min-height: 100vh;
  animation: fadeIn 1s linear;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@media screen and (max-width: 1000px) {
  main {
    padding: 100px 20px 100px 20px;
  }
}
