/*

elements NAV

*/

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  max-height: 60px;
  min-height: 60px;
  background-color: var(--cor-secundaria-3);
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 0px 0px 0px;
  transition: all 0.3s;
}

nav.transparente {
  background-color: transparent;
}

nav .linha {
  width: 100%;
  height: 4px;
  min-height: 4px;
  max-height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right,#49D3FF 0%,#FE5D7A 30%,#FFCD4B 65%,#1EED89 100%);
}

/* Logo */

nav .logo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  padding-left: 20px;
  cursor: pointer;
  transition: all 0.3s;
}

nav .logo img {
  width: 170px;
  pointer-events: none;
}

nav .logo:hover {
  opacity: 0.7;
}

/* Menu */

nav .menu {
  position: relative;
}

/* Menu - Abrir e Fechar */

nav .menu button.acao {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
  height: 60px;
  min-height: 60px;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.2s;
}

nav .menu button.acao:hover {
  opacity: 0.7;
}

nav .menu button.acao p {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-family: var(--roboto-medium);
  font-size: 1rem;
  line-height: 1;
  color: var(--cor-branco);
  pointer-events: none;
  min-width: 75px;
}

nav .menu button.acao .icone {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
  height: 16px;
  min-height: 16px;
  width: 20px;
  min-width: 20px;
  pointer-events: none;
}

nav .menu button.acao .icone div {
  background: var(--cor-branco);
  height: 4px;
  min-height: 4px;
  position: absolute;
  transition: all 0.5s;
}

nav .menu button.acao.abrir .icone div.linha_um {
  width: 20px;
  min-width: 20px;
  top: 0px;
  transform: rotate(0deg);
}

nav .menu button.acao.abrir .icone div.linha_dois {
  width: 10px;
  min-width: 10px;
  bottom: 0px;
  transform: rotate(0deg);
}

nav .menu button.acao.fechar .icone div.linha_um {
  width: 20px;
  min-width: 20px;
  top: 6px;
  transform: rotate(-45deg);
}

nav .menu button.acao.fechar .icone div.linha_dois {
  width: 20px;
  min-width: 20px;
  bottom: 6px;
  transform: rotate(45deg);
}

/* Menu - Opcoes */

nav .menu .opcoes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  position: absolute;
  top: 90px;
  right: 25px;
  width: 250px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.5s;
}

nav .menu .opcoes.mostrar {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

nav .menu .opcoes button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  background-color: var(--cor-secundaria-3);
  padding: 20px;
  width: 100%;
  transition: all 0.3s;
}

nav .menu .opcoes button:hover {
  background-color: var(--cor-secundaria-4);
}
nav .menu .opcoes button.assinante {
  display: none;
}

nav .menu .opcoes button div {
  pointer-events: none;
}

nav .menu .opcoes button p.menor {
  font-family: var(--maven-medium);
  font-size: 0.8rem;
  color: var(--cor-branco);
  pointer-events: none;
}

nav .menu .opcoes button p.maior {
  font-family: var(--roboto-medium);
  font-size: 1rem;
  color: var(--cor-branco);
  pointer-events: none;
}

nav .menu .opcoes button img {
  width: 30px;
  height: 30px;
  min-width: 30px;
  min-height: 30px;
  margin-right: 20px;
  pointer-events: none;
}

nav .menu .opcoes button.telas p.maior span {
  color: var(--cor-azul);
}

nav .menu .opcoes button.perfil p.maior span {
  color: var(--cor-vermelho);
}

nav .menu .opcoes button.assinatura p.maior span {
  color: var(--cor-verde);
}

nav .menu .opcoes button.suporte p.maior span {
  color: var(--cor-amarelo);
}

/* Responsivo */

@media screen and (max-width: 600px) {
  nav {
    height: 50px;
    max-height: 50px;
    min-height: 50px;
  }
  nav .logo {
    padding-left: 15px;
  }
  nav .logo img {
    width: 150px;
  }
  nav .menu button.acao {
    padding-right: 15px;
    height: 50px;
    max-height: 50px;
    min-height: 50px;
  }
  nav .menu button.acao p {
    font-size: 0.9rem;
    min-width: 67px;
  }
  nav .menu .opcoes {
    right: 15px;
    top: 70px;
  }
}
