/*

elements TEXTS

*/

h1.titulo,
h2.titulo,
h3.titulo {
  font-family: var(--roboto-medium);
  font-size: 1.8rem;
  line-height: 1.3;
  color: var(--cor-branco);
}

p.descricao {
  font-family: var(--maven-regular);
  font-size: 1.3rem;
  line-height: 1.5;
  color: var(--cor-cinza);
}

label {
  display: block;
  text-align: left;
  font-family: var(--maven-medium);
  margin-bottom: 10px;
  color: var(--cor-branco);
}

@media screen and (max-width: 650px) {
  h1.titulo,
  h2.titulo,
  h3.titulo {
    font-size: 1.4rem;
  }
  p.descricao {
    font-size: 1rem;
  }
}
