<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">

  <!-- Titulo -->
  <title>Entrar</title>
  <meta property="og:title" content="Entrar">
  <meta name="twitter:title" content="Entrar">
  <meta name="discord:title" content="Entrar">

  <!-- Description -->
  <meta name="description" content="Acesse sua conta Redirecione.">
  <meta itemprop="description" content="Acesse sua conta Redirecione.">
  <meta property="og:description" content="Acesse sua conta Redirecione.">
  <meta name="twitter:description" content="Acesse sua conta Redirecione.">
  <meta name="discord:description" content="Acesse sua conta Redirecione.">

  <!-- Site URL -->
  <link rel="canonical" href="https://app.redireci.one">
  <meta property="og:url" content="https://app.redireci.one">
  <meta name="discord:site" content="https://app.redireci.one">
  <meta property="discord:url" content="https://app.redireci.one">

  {{> metatags}}
  {{> favicons}}

</head>
<body>

  <!-- SECTION -->
  <section class="entrar" name="entrar">
    <!-- Entre -->
    <div class="entre">
      <img src="https://static.redireci.one/assets/global/logo-redirecione.svg">
      <input type="email" spellcheck="false" name="email" placeholder="Seu email">
      <input type="password" spellcheck="false" name="senha" placeholder="Senha de Acesso">
      <div class="botoes">
        <button type="button" name="registrar" class="secundario">Criar Conta<div></div></button>
        <button type="button" name="entrar" class="primario">Entrar<div></div></button>
      </div>
    </div>
  </section>

  <!-- ALERTA -->
  <app-alerta></app-alerta>

  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-D4JTHYX759"></script>
  <script async src="https://static.redireci.one/js/ga.js"></script>

</body>
</html>
