/*

TELAS VISUALIZAR partials SECTION PREVIEW

*/

main {
  padding: 120px 0px;
}

section.preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
  background-image: unset;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

section.preview .itens {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Icone */

section.preview .itens .icone {
  width: 100%;
  max-width: 150px;
}

section.preview .itens .icone img {
  width: 100%;
}

/* Descricao */

section.preview .itens .descricao {
  width: 100%;
  max-width: 500px;
  padding: 30px 25px;
}

section.preview .itens .descricao p {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5;
}

/* Botao */

section.preview .itens .botao button {
  transition: all 0.2s;
}

section.preview .itens .botao button:hover {
  opacity: 0.7;
}

/* Responsivo */

@media screen and (max-width: 700px) {
  section.preview {
    height:  90vh;
    min-height: 90vh;
    max-height: 90vh;
  }
  section.preview .itens .descricao p {
    font-size: 1rem;
  }
  main {
    padding: 100px 0px;
  }
}
