/*

ENTRAR partials SECTION ENTRAR

*/

section.entrar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Entre */

section.entrar .entre {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 20px;
  width: 100%;
  min-height: 100vh;
  background-color: var(--cor-secundaria-2);
}

section.entrar img {
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;
  animation: fadeIn 1s;
}

section.entrar input {
  max-width: 500px;
  margin-bottom: 20px;
  animation: fadeIn 1s;
}

section.entrar .botoes {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
}

section.entrar .botoes button {
  width: 100%;
  height: 100%;
  animation: fadeIn 1s;
}

section.entrar .botoes button.primario {
  margin-left: 20px;
}
