/*

LINKS partials SECTION PAINEL

*/

section.painel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  text-align: center;
}

/* Opcoes */

section.painel .opcoes {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 150px 0px 0px 0px;
}

section.painel .opcoes .opcao {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--cor-secundaria-3);
  border-bottom: 3px solid var(--cor-secundaria-2);
  padding: 80px 30px 30px 30px;
  position: relative;
  transition: all 0.3s;
  cursor: pointer;
}

section.painel .opcoes .opcao:hover {
  border-bottom: 3px solid var(--cor-secundaria-4);
}

section.painel .opcoes .opcao img {
  position: absolute;
  top: -100px;
  width: 100%;
  max-width: 150px;
}

section.painel .opcoes .opcao:nth-child(2) {
  margin: 0px 30px;
}

section.painel .opcoes .opcao h3 {
  font-family: var(--maven-medium);
  font-size: 0.9rem;
  color: var(--cor-branco);
}

section.painel .opcoes .opcao h4 {
  font-family: var(--roboto-medium);
  font-size: 1.1rem;
  color: var(--cor-branco);
}

/* Responsivo */

@media screen and (max-width: 800px) {
  section.painel .opcoes {
    flex-direction: column;
    justify-content: center;
    padding: 0px 0px 0px 0px;
  }
  section.painel .opcoes .opcao {
    max-width: 250px;
    margin: 150px 0px 0px 0px;
  }
  section.painel .opcoes .opcao:nth-child(2) {
    margin: 150px 0px 0px 0px;
  }
}
