/*

REGISTRAR partials SECTION REGISTRAR

*/

section.registrar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: var(--cor-secundaria-2);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Registro */

section.registrar .registro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  animation: fadeIn 1s;
}

section.registrar img {
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;
}

section.registrar input {
  max-width: 500px;
  margin-bottom: 20px;
}

section.registrar .url {
  position: relative;
  width: 100%;
  max-width: 500px;
}

section.registrar .url p {
  position: absolute;
  left: 30px;
  font-family: var(--maven-regular);
  font-size: 1.2rem;
  color: var(--cor-secundaria-7);
  top: 32px;
  pointer-events: none;
}

section.registrar .url input.url_input {
  padding-left: 138px;
  animation: none;
}

section.registrar .botoes {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
}

section.registrar .botoes button {
  width: 100%;
  height: 100%;
  animation: fadeIn 1s;
}

section.registrar .botoes button.primario {
  margin-left: 20px;
}

/* Responsivo */

@media screen and (max-width: 1000px) {
  section.registrar .url p {
    left: 20px;
    font-size: 1rem;
    top: 22px;
  }
  section.registrar .url input.url_input {
    padding-left: 109px;
  }
}
