<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">

  <!-- Titulo -->
  <title>Painel</title>
  <meta property="og:title" content="Painel">
  <meta name="twitter:title" content="Painel">
  <meta name="discord:title" content="Painel">

  <!-- Description -->
  <meta name="description" content="">
  <meta itemprop="description" content="">
  <meta property="og:description" content="">
  <meta name="twitter:description" content="">
  <meta name="discord:description" content="">

  {{> metatags}}
  {{> favicons}}

</head>
<body>

  <!-- NAV -->
  <nav>
    <div class="linha"></div>
    <div name="para_painel" class="logo">
      <img src="https://static.redireci.one/assets/global/logo-redirecione.svg">
    </div>
    {{> menu}}
  </nav>

  <!-- MAIN -->
  <main>
    <!-- SECTION -->
    <section class="painel">
      <p class="descricao">Olá, <span name="nome"></span></p>
      <h2 class="titulo">O que você deseja?</h2>
      <!-- Opções -->
      <div class="opcoes">
        <!-- Telas -->
        <div class="opcao" name="links">
          <img src="https://static.redireci.one/assets/app/link-azul.svg">
          <h3>Minhas Telas</h3>
          <h4>REDIRECIONE</h4>
        </div>
      </div>
    </section>
  </main>

  <app-alerta></app-alerta>

  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-D4JTHYX759"></script>
  <script async src="https://static.redireci.one/js/ga.js"></script>

</body>
</html>
