/*

ASSINAR partials SECTION > ASSINATURA

*/

section.assinatura {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0px 30px 100px 30px;
}

section.assinatura p {
  font-size: 1.1rem;
  line-height: 1.5;
  color: var(--cor-cinza);
  padding: 20px 0px 20px 0px;
  width: 100%;
  max-width: 400px;
}

/* Corda */

.corda {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  height: 10px;
  min-height: 10px;
  max-height: 10px;
  background-color: var(--cor-secundaria-2);
  overflow: hidden;
}

.corda.baixo div {
  position: absolute;
  height: 10px;
  width: 60px;
  min-height: 10px;
  min-width: 60px;
  opacity: 0;
  animation: cordaBolasDireita 4s linear infinite;
  border: 3px solid var(--cor-secundaria-2);
}

.corda div.azul {
  background-color: var(--cor-azul);
  animation-delay: 0s;
}

.corda.baixo div.azul {
  background-image: linear-gradient(to right, #49D3FF, #0e0f16);
}

.corda div.vermelho {
  background-color: var(--cor-vermelho);
  animation-delay: 1s;
}

.corda.baixo div.vermelho {
  background-image: linear-gradient(to right, #FE5D7A, #0e0f16);
}

.corda div.amarelo {
  background-color: var(--cor-amarelo);
  animation-delay: 2s;
}

.corda.baixo div.amarelo {
  background-image: linear-gradient(to right, #FFCD4B, #0e0f16);
}

.corda div.verde {
  background-color: var(--cor-verde);
  animation-delay: 3s;
}

.corda.baixo div.verde {
  background-image: linear-gradient(to right, #1EED89, #0e0f16);
}

@keyframes cordaBolasDireita {
  0% {
    transform: translateX(115vw);
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    transform: translateX(-15vw);
    opacity: 1;
  }
}

/* Responsivo */

@media screen and (max-width: 800px) {
}
