/*

TEMPLATES BOTOES

*/

/* Quadrados */

.formato_botao_1 {
  padding: 15px 30px 15px 30px;
  border-radius: 0px 0px 0px 0px;
}

.formato_botao_2 {
  padding: 10px 10px 10px 10px;
  border-radius: 0px 0px 0px 0px;
}

.formato_botao_3 {
  padding: 10px 40px 10px 40px;
  border-radius: 0px 0px 0px 0px;
}

.formato_botao_4 {
  padding: 30px 30px 30px 30px;
  border-radius: 0px 0px 0px 0px;
}

.formato_botao_5 {
  padding: 5px 30px 5px 30px;
  border-radius: 0px 0px 0px 0px;
}

.formato_botao_13 {
  padding: 15px 20px 15px 20px;
  border-radius: 0px 0px 0px 0px;
  transform: rotate(5deg);
}

.formato_botao_14 {
  padding: 15px 20px 15px 20px;
  border-radius: 0px 0px 0px 0px;
  transform: rotate(-5deg);
}

/* Redondos */

.formato_botao_17 {
  padding: 15px 30px 15px 30px;
  border-radius: 50px 50px 50px 50px;
}

.formato_botao_18 {
  padding: 10px 10px 10px 10px;
  border-radius: 50px 50px 50px 50px;
}

.formato_botao_19 {
  padding: 10px 40px 10px 40px;
  border-radius: 50px 50px 50px 50px;
}

.formato_botao_20 {
  padding: 30px 30px 30px 30px;
  border-radius: 50px 50px 50px 50px;
}

.formato_botao_21 {
  padding: 5px 30px 5px 30px;
  border-radius: 50px 50px 50px 50px;
}

.formato_botao_29 {
  padding: 15px 20px 15px 20px;
  border-radius: 50px 50px 50px 50px;
  transform: rotate(5deg);
}

.formato_botao_30 {
  padding: 15px 20px 15px 20px;
  border-radius: 50px 50px 50px 50px;
  transform: rotate(-5deg);
}

/* Arredondados */

.formato_botao_33 {
  padding: 15px 30px 15px 30px;
  border-radius: 12px 12px 12px 12px;
}

.formato_botao_34 {
  padding: 10px 10px 10px 10px;
  border-radius: 12px 12px 12px 12px;
}

.formato_botao_35 {
  padding: 10px 40px 10px 40px;
  border-radius: 12px 12px 12px 12px;
}

.formato_botao_36 {
  padding: 30px 30px 30px 30px;
  border-radius: 12px 12px 12px 12px;
}

.formato_botao_37 {
  padding: 5px 30px 5px 30px;
  border-radius: 12px 12px 12px 12px;
}

.formato_botao_45 {
  padding: 15px 20px 15px 20px;
  border-radius: 12px 12px 12px 12px;
  transform: rotate(5deg);
}

.formato_botao_46 {
  padding: 15px 20px 15px 20px;
  border-radius: 12px 12px 12px 12px;
  transform: rotate(-5deg);
}

/* Bandeiras */

.formato_botao_49 {
  padding: 15px 30px 15px 30px;
  border-radius: 20px 0px 20px 0px;
}

.formato_botao_50 {
  padding: 10px 10px 10px 10px;
  border-radius: 20px 0px 20px 0px;
}

.formato_botao_51 {
  padding: 10px 40px 10px 40px;
  border-radius: 20px 0px 20px 0px;
}

.formato_botao_52 {
  padding: 30px 30px 30px 30px;
  border-radius: 20px 0px 20px 0px;
}

.formato_botao_53 {
  padding: 5px 30px 5px 30px;
  border-radius: 20px 0px 20px 0px;
}

.formato_botao_61 {
  padding: 15px 20px 15px 20px;
  border-radius: 20px 0px 20px 0px;
  transform: rotate(5deg);
}

.formato_botao_62 {
  padding: 15px 20px 15px 20px;
  border-radius: 20px 0px 20px 0px;
  transform: rotate(-5deg);
}
