<!-- Favicons -->
<link rel="apple-touch-icon" sizes="57x57" href="https://static.redireci.one/assets/global/favicons/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="https://static.redireci.one/assets/global/favicons/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="https://static.redireci.one/assets/global/favicons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="https://static.redireci.one/assets/global/favicons/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="https://static.redireci.one/assets/global/favicons/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="https://static.redireci.one/assets/global/favicons/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="https://static.redireci.one/assets/global/favicons/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="https://static.redireci.one/assets/global/favicons/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="https://static.redireci.one/assets/global/favicons/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://static.redireci.one/assets/global/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="144x144" href="https://static.redireci.one/assets/global/favicons/android-chrome-144x144.png">
<link rel="icon" type="image/png" sizes="194x194" href="https://static.redireci.one/assets/global/favicons/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="192x192" href="https://static.redireci.one/assets/global/favicons/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://static.redireci.one/assets/global/favicons/favicon-16x16.png">
<link rel="mask-icon" href="https://static.redireci.one/assets/global/favicons/safari-pinned-tab.svg" color="#26262D">
<meta name="msapplication-TileImage" content="https://static.redireci.one/assets/global/favicons/mstile-144x144.png">
<meta name="msapplication-config" content="https://static.redireci.one/assets/global/favicons/browserconfig.xml">

<!-- Manifest -->
<link rel="manifest" href="https://app.redireci.one/site.webmanifest">
