<!-- Menu -->
<div class="menu">
  <button class="acao abrir" name="toggle">
    <div class="icone">
      <div class="linha_um"></div>
      <div class="linha_dois"></div>
    </div>
    <p>OPÇÕES</p>
  </button>
  <div class="opcoes" name="menu">
    <button class="telas" type="button" name="telas">
      <img src="https://static.redireci.one/assets/app/link-azul.svg">
      <div>
        <p class="menor">Configurar Página</p>
        <p class="maior">MINHAS <span>TELAS</span></p>
      </div>
    </button>
    <button class="perfil" type="button" name="perfil">
      <img src="https://static.redireci.one/assets/app/perfil-mirado-vermelho.svg">
      <div>
        <p class="menor">Editar Informações</p>
        <p class="maior">MEU <span>PERFIL</span></p>
      </div>
    </button>
    <button class="assinatura" type="button" name="assinatura">
      <img src="https://static.redireci.one/assets/app/icone-premium.svg">
      <div>
        <p class="menor">Aprimorar para RED</p>
        <p class="maior">ASSINAR <span>AGORA</span></p>
      </div>
    </button>
    <button class="suporte" type="button" name="suporte">
      <img src="https://static.redireci.one/assets/app/duvida-amarelo.svg">
      <div>
        <p class="menor">Pedir Ajuda</p>
        <p class="maior"><span>SUPORTE</span></p>
      </div>
    </button>
  </div>
</div>
