/*

FONTES

*/

/* MAVEN REGULAR */
@font-face {
  font-family: 'maven_regular';
  font-display: swap;
  src: url('https://static.redireci.one/assets/global/fonts/maven-pro/MavenPro-Regular.woff') format('woff');
}

/* MAVEN MEDIUM */
@font-face {
  font-family: 'maven_medium';
  font-display: swap;
  src: url('https://static.redireci.one/assets/global/fonts/maven-pro/MavenPro-Medium.woff') format('woff');
}

/* MAVEN BOLD */
@font-face {
  font-family: 'maven_bold';
  font-display: swap;
  src: url('https://static.redireci.one/assets/global/fonts/maven-pro/MavenPro-Bold.woff') format('woff');
}

/* ROBOTO LIGHT */
@font-face {
  font-family: 'roboto_light';
  font-display: swap;
  src: url('https://static.redireci.one/assets/global/fonts/roboto/Roboto-Light.woff') format('woff');
}

/* ROBOTO REGULAR */
@font-face {
  font-family: 'roboto_regular';
  font-display: swap;
  src: url('https://static.redireci.one/assets/global/fonts/roboto/Roboto-Regular.woff') format('woff');
}

/* ROBOTO MEDIUM */
@font-face {
  font-family: 'roboto_medium';
  font-display: swap;
  src: url('https://static.redireci.one/assets/global/fonts/roboto/Roboto-Medium.woff') format('woff');
}

/* Fontes do Usuario */

@font-face {
  font-family: 'alfa_slab_one_regular';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://static.redireci.one/banco/fontes/alfa-slab-one-regular.woff') format('woff');
}

@font-face {
  font-family: 'audio_wide_regular';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://static.redireci.one/banco/fontes/audio-wide-regular.woff') format('woff');
}

@font-face {
  font-family: 'bangers_regular';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://static.redireci.one/banco/fontes/bangers-regular.woff') format('woff');
}

@font-face {
  font-family: 'chewy_regular';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://static.redireci.one/banco/fontes/chewy-regular.woff') format('woff');
}

@font-face {
  font-family: 'cyntho_next_regular';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://static.redireci.one/banco/fontes/cyntho-next-regular.woff') format('woff');
}

@font-face {
  font-family: 'fredoka_one_regular';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://static.redireci.one/banco/fontes/fredoka-one-regular.woff') format('woff');
}

@font-face {
  font-family: 'gilroy_bold';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://static.redireci.one/banco/fontes/gilroy-bold.woff') format('woff');
}

@font-face {
  font-family: 'gloria_hallelujah_regular';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://static.redireci.one/banco/fontes/gloria-hallelujah-regular.woff') format('woff');
}

@font-face {
  font-family: 'montserrat_light';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://static.redireci.one/banco/fontes/montserrat-light.woff') format('woff');
}

@font-face {
  font-family: 'orbitron';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://static.redireci.one/banco/fontes/orbitron.woff') format('woff');
}

@font-face {
  font-family: 'permanet_maker_regular';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://static.redireci.one/banco/fontes/permanet-maker-regular.woff') format('woff');
}

@font-face {
  font-family: 'piedra_regular';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://static.redireci.one/banco/fontes/piedra-regular.woff') format('woff');
}

@font-face {
  font-family: 'rock_salt_regular';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://static.redireci.one/banco/fontes/rock-salt-regular.woff') format('woff');
}

@font-face {
  font-family: 'sansitas_washed';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://static.redireci.one/banco/fontes/sansitas-washed.woff') format('woff');
}

@font-face {
  font-family: 'shadows_in_to_light';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://static.redireci.one/banco/fontes/shadows-in-to-light.woff') format('woff');
}

@font-face {
  font-family: 'yeseva_one_regular';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://static.redireci.one/banco/fontes/yeseva-one-regular.woff') format('woff');
}
