<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">

  <!-- Titulo -->
  <title>Assine e vire Red</title>
  <meta property="og:title" content="Assine e vire Red">
  <meta name="twitter:title" content="Assine e vire Red">
  <meta name="discord:title" content="Assine e vire Red">

  <!-- Description -->
  <meta name="description" content="Agora é a hora de fazer sua assinatura RED.">
  <meta itemprop="description" content="Agora é a hora de fazer sua assinatura RED.">
  <meta property="og:description" content="Agora é a hora de fazer sua assinatura RED.">
  <meta name="twitter:description" content="Agora é a hora de fazer sua assinatura RED.">
  <meta name="discord:description" content="Agora é a hora de fazer sua assinatura RED.">

  {{> metatags}}
  {{> favicons}}

</head>
<body>

  <!-- NAV -->
  <nav>
    <div class="linha"></div>
    <div name="para_painel" class="logo">
      <img src="https://static.redireci.one/assets/app/logo-redirecione-premium.svg">
    </div>
    {{> menu}}
  </nav>

  <!-- MAIN -->
  <main>
    <!-- SECTION -->
    <section class="assinatura" name="assinatura">
      <h2 class="titulo">Acabe com o limite de telas!</h2>
      <p class="descricao">Junte-se à elite da Redirecione e tenha quantas telas quiser na sua página clicando no botão abaixo.</p>
      <button class="primario" name="assinar" type="button">Assinar Agora<div></div></button>
    </section>

    <!-- Corda Baixo -->
    <div class="corda baixo">
      <div class="azul"></div>
      <div class="vermelho"></div>
      <div class="amarelo"></div>
      <div class="verde"></div>
    </div>
  </main>

  <!-- ALERTA -->
  <app-alerta></app-alerta>

  <!-- Stripe -->
  <script async src="https://js.stripe.com/v3/"></script>

  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-D4JTHYX759"></script>
  <script async src="https://static.redireci.one/js/ga.js"></script>

</body>
</html>
