<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">

  <!-- Titulo -->
  <title>Parabéns!</title>
  <meta property="og:title" content="Parabéns!">
  <meta name="twitter:title" content="Parabéns!">
  <meta name="discord:title" content="Parabéns!">

  <!-- Description -->
  <meta name="description" content="Parabéns pela decisão! Agora você é um assinante RED.">
  <meta itemprop="description" content="Parabéns pela decisão! Agora você é um assinante RED.">
  <meta property="og:description" content="Parabéns pela decisão! Agora você é um assinante RED.">
  <meta name="twitter:description" content="Parabéns pela decisão! Agora você é um assinante RED.">
  <meta name="discord:description" content="Parabéns pela decisão! Agora você é um assinante RED.">

  {{> metatags}}
  {{> favicons}}

</head>
<body>

  <!-- CONFETE -->
  <div class="confete">
    <div class="quadrado um vermelho"></div>
    <div class="quadrado dois verde"></div>
    <div class="quadrado tres azul"></div>
    <div class="quadrado quatro amarelo"></div>
    <div class="quadrado cinco vermelho"></div>
    <div class="quadrado seis verde"></div>
    <div class="quadrado sete azul"></div>
    <div class="quadrado oito amarelo"></div>
    <div class="quadrado nove vermelho"></div>
    <div class="quadrado dez verde"></div>
    <div class="quadrado onze azul"></div>
    <div class="quadrado doze amarelo"></div>
    <div class="quadrado treze vermelho"></div>
    <div class="quadrado quatorze verde"></div>
    <div class="quadrado quinze azul"></div>
    <div class="quadrado dezesseis amarelo"></div>
    <div class="quadrado dezessete vermelho"></div>
    <div class="quadrado dezoito verde"></div>
    <div class="quadrado dezenove azul"></div>
    <div class="quadrado vinte amarelo"></div>
  </div>

  <!-- SECTION -->
  <section class="sucesso" name="sucesso">
    <h2 class="titulo">Parabéns pela decisão de ser RED!</h2>
    <p class="descricao"> Agora você faz parte da elite da Redirecione. Vamos começar a criar mais páginas?</p>
    <button type="button" name="sair" class="primario">Começar<div></div></button>
  </section>

  <!-- ALERTA -->
  <app-alerta></app-alerta>

  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-D4JTHYX759"></script>
  <script async src="https://static.redireci.one/js/ga.js"></script>

  <!-- FaceAds -->
  <script async src="https://static.redireci.one/js/fb-comprar.js"></script>
  <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=378763450074302&ev=PageView&noscript=1"/></noscript>

</body>
</html>
